

.app-header{
    background-color: #ffd6a5;
    color: #3C3C3C;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.app-nav{
    display: flex;
    gap: 20px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 20px;
    padding-inline-end: 30px;
}

.hello-user{
    align-self: center;
}

.online-display{
    padding-inline-start: 1em;
}