
.toy-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-block: 1em;
    list-style: none;
    padding-left: 0;
}

.toy-list li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bee1e6;
    padding: 1em;
    border-radius: 7px;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
}

.toy-list .close-btn{
    border-radius: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toy-list .edit-link:hover{
    text-decoration: underline;

}

